* {
  box-sizing: border-box;
  width: 100%;
}
a {
  text-decoration: none;
}
link {
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  display: flex;
  text-align: center;

  min-height: 100vh; /* Ensure the body fills the viewport */
}

.app-container {
  min-width: 100%; /* Ensure content fills the available width */
  margin: 0 auto; /* Center the content horizontally */
  background-color: #fff7ed;
}

.nav-bar {
  background-color: #fff7ed;
  text-decoration: none;
  color: black;
  list-style-type: none;
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  padding: -12px;
  position: relative;
}

.nav-bar h1 {
  font-size: 2rem;
}

.nav-bar h3 {
  font-size: 1rem;
  color: #4d4d4d;
}

.navbar ul li a:hover {
  text-decoration: underline; /* Underline links on hover */
}

.hero-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.hero-div p {
  line-height: 24px;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.hero-div h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: white;
  font-weight: 700;
  line-height: 42px;
}
.button-hero_container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-hero {
  width: 10rem;
  border: none;
  width: 7em;
  max-width: 100%;
  height: 5rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  margin: 1rem;
}
.button-hero_container > button {
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  display: flex;
  text-align: center;
}

.button-hero:hover {
  transform: translate(1px, 1px);
}
.about-hero-container {
  max-height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-hero-image {
  width: 100%;
  height: auto; /* Automatically adjust the height */
  object-fit: cover;
}
.servicesHero {
  body {
    font-family: "Inter", sans-serif;
  }

  h5 {
    font-weight: 700;
    color: black;
  }

  p {
    color: grey;
  }
}
.service {
  color: #00b67a;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.service svg {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.service h5 {
  margin: 0; /* Remove default margins */

  border-radius: 5px; /* Add some border-radius to make it look like a button */
}
.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
  height: 100%;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

.nav-links {
  color: #000;
}
.service-info {
  color: #000;
}

.HamburgerMenu {
  size: 100%;
}
.ServiceCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  color: #4d4d4d;
  cursor: pointer;
  text-align: left;
  font-weight: 900;
  font-size: 2rem;
}
.site-logo {
  font-family: "Indie Flower", cursive; /* Apply the Indie Flower font */
  font-size: 46px; /* Adjust the font size as needed */
  color: #00b67a; /* Your chosen color */
}

.service-item {
  flex-basis: calc(50% - 10px); /* Two items per row */
  max-width: calc(50% - 10px); /* Two items per row */
}

.image-wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  margin-top: 2rem;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.service-info {
  flex: 0 48%;
  max-width: 48%;
  color: #4d4d4d;
}

.service-button {
  width: 100%;
}

@media (max-width: 768px) {
  .service-item {
    flex-basis: calc(50% - 10px); /* Two items per row on smaller screens */
    max-width: calc(50% - 10px); /* Two items per row on smaller screens */
  }

  .service-info {
    flex-basis: calc(50% - 10px); /* Two items per row on smaller screens */
    max-width: calc(50% - 10px); /* Two items per row on smaller screens */
  }
}

@media (max-width: 576px) {
  .service-item {
    flex-basis: 100%; /* One item per row on extra small screens */
    max-width: 100%; /* One item per row on extra small screens */
  }

  .service-info {
    flex-basis: 100%; /* One item per row on extra small screens */
    max-width: 100%; /* One item per row on extra small screens */
  }
}

.image-wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden; /* Hide overflow to prevent layout shifting */
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.image-wrapper:hover img {
  transform: scale(1.1); /* Increase size on hover */
}

.ServiceCard img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Fill the wrapper */
  height: 100%; /* Fill the wrapper */
  border-radius: 10px;
  object-fit: cover;
}

.service-button {
  width: 100%;
}

.hamburgerDown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute; /* Position the dropdown menu absolutely */
  top: 10%; /* Adjust the top position to align with the bottom of the navbar */
  left: 0; /* Adjust the left position as needed */
  background-color: #fff; /* Add background color for the dropdown menu */
  border: 1px solid #ccc; /* Add borders for the dropdown menu */
  z-index: 999;
  height: 60vh;
}
.hamnburger-nav-links {
  padding: 3rem 3rem;
  color: #4d4d4d;
  list-style: none;
}
.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  padding: 1rem;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.exploreButtons button {
  font-size: 16px;
  line-height: 23px;
  /* background-color: #ffead0; */
  /* color: #4d4d4d; */
  /* margin: 20px; */
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}
.exploreButtons {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: center; /* Horizontally center items */
}

.exploreButtons > * {
  flex: 1 0 50%; /* Each item takes up 50% of the container width */
  max-width: 50%; /* Maximum width of each item */
  box-sizing: border-box; /* Include padding and border in the width */
}
.exploreButtons button:hover {
  transform: scale(1.1);
}
.explore {
  font-size: 16px;
  line-height: 23px;
  color: #a89c87;
}
.explore h3 {
  font-size: 32px;
}
.hero-image {
  border-radius: 1%;
  padding: 2%;

  background-size: cover;
  background-position: center;
  height: 20rem;
}

.health {
  background-color: #c7ac5a;
  color: #ffead0;
}

.care {
  background-color: #aaac43;
}

.assistance {
  background-color: #5a511a;
}

/* 
@media (max-width: 933px) {
  .ServiceCard img {
    max-width: 100%;
    max-height: 60%;

    height: 90%;
    grid-gap: 10px; /* Adjusted horizontal gap for smaller screens */

.footer {
  display: flex;
  background-color: #ffcc8d;
  padding-top: 10%;
  min-width: 100vw;
}
.footer-title {
  color: #161616;

  background-color: #fdcc8d;
}
.footer h1 {
  flex-grow: 5;
  flex-basis: 20%;
}
.site-logo {
  display: block;
}
