* {
  box-sizing: border-box;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  display: flex;
  text-align: center;
  width: 100vw;

  min-height: 100vh; /* Ensure the body fills the viewport */
}

.app-container {
  width: 100%; /* Ensure content fills the available width */
  margin: 0 auto; /* Center the content horizontally */
  background-color: #fff7ed;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.nav-bar {
  background-color: #fff7ed;
  text-decoration: none;
  color: black;
  list-style-type: none;
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  padding: -12px;
  position: relative;
}

.nav-bar h1 {
  font-size: 2rem;
}

.nav-bar h3 {
  font-size: 1rem;
  color: #4d4d4d;
}

.navbar ul li a:hover {
  text-decoration: underline; /* Underline links on hover */
}

.hero-div {
  min-height: 350px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding: 450px 20px; /* Padding applied */
}

.hero-div p {
  line-height: 24px;
  margin-bottom: 20px;
  padding: 95px;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.hero-div h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: white;
  font-weight: 700;
  line-height: 42px;
  padding: 45px;
}

.button-hero {
  background-color: #ff8c38;
  color: white;
  border-radius: 5%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  /* width: 70rem; */
  height: 5rem;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  transition: transform 0.1s ease-in-out;
}

.button-hero:hover {
  transform: translate(1px, 1px);
}
.about-hero-container {
  max-height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero-image {
  display: flex;
}
.about-hero-image {
  width: 100%;
  height: auto; /* Automatically adjust the height */
  object-fit: cover;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
  height: 100%;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

.nav-links {
  color: #000;
}

.mobile-nav-bar {
  display: none;
}

@media (max-width: 590px) {
  .mobile-nav-bar {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 15vh;
  }
  .HamburgerMenu {
    size: 100%;
  }
  .ServiceCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px; /* Gap between grid items */
    padding: 20px;

    color: #4d4d4d;
  }

  .ServiceCard img {
    max-width: 100%;
    max-height: 20%;
    border-radius: 10px;
    object-fit: cover;
    width: 73%;
    height: 72%;
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: hidden;
    transform: translateY(0); /* Initially no vertical movement */
    transition: transform 0.3s ease;
  }
}

.hamburgerDown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute; /* Position the dropdown menu absolutely */
  top: 10%; /* Adjust the top position to align with the bottom of the navbar */
  left: 0; /* Adjust the left position as needed */
  background-color: #fff; /* Add background color for the dropdown menu */
  border: 1px solid #ccc; /* Add borders for the dropdown menu */
  z-index: 999;
  height: 90vh;
}
.hamnburger-nav-links {
  padding: 3rem 3rem;
  color: #4d4d4d;
  list-style: none;
}

.exploreButtons button {
  font-size: 16px;
  line-height: 23px;
  /* background-color: #ffead0; */
  /* color: #4d4d4d; */
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}
.exploreButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.exploreButtons button:hover {
  transform: scale(1.1);
}
.explore {
  font-size: 16px;
  line-height: 23px;
  color: #a89c87;
}
.explore h3 {
  font-size: 32px;
}
.hero-image {
  border-radius: 1%;
  padding: 2%;

  background-size: cover;
  background-position: center;
  height: 600px;
}

.health {
  background-color: #c7ac5a;
  color: #ffead0;
}

.care {
  background-color: #aaac43;
}

.assistance {
  background-color: #5a511a;
}
.ServiceCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Gap between grid items */
  padding: 20px;
  color: #4d4d4d;
  cursor: pointer;
  text-align: left;
  font-weight: 900;
  font-size: 2rem;
}

.ServiceCard .service-item {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  object-fit: center;
}

.ServiceCard img {
  max-width: 100%;
  max-height: 600px;
  border-radius: 10px;
  object-fit: cover;

  height: 90%;
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: hidden;
  transform: translateY(0); /* Initially no vertical movement */
  transition: transform 0.3s ease; /* Transition for movement */
}

.ServiceCard img:hover {
  transform: translateY(-10px); /* Move image up slightly on hover */
  opacity: 0.9; /* Reduce opacity slightly on hover */
}

@media (max-width: 933px) {
  .ServiceCard img {
    max-width: 100%;
    max-height: 60%;

    height: 90%;
    grid-gap: 10px; /* Adjusted horizontal gap for smaller screens */
  }
}

@media (max-width: 500px) {
  .ServiceCard img {
    max-width: 100%;
    max-height: 40%;
    grid-gap: 7px; /* Adjusted horizontal gap for smaller screens */
  }
}

@media (max-width: 480px) {
  .ServiceCard img {
    max-width: 100%;
    max-height: 30%;
    grid-gap: 2px; /* Adjusted horizontal gap for smaller screens */
  }
}
.footer {
  display: flex;
  background-color: #ffcc8d;
  padding-top: 10%;
}
.footer-title {
  color: #161616;
  background-color: #fdcc8d;
  margin-top: 20%;
}
.footer h1 {
  flex-grow: 5;
  flex-basis: 20%;
}
